.scrollText {
  color: #ffffff;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  padding: 60px;
  width: 900px;
  height: 900px;
  margin: 0 auto;
  vertical-align: middle;
}
