.scrollText {
  position: absolute;
  font-size: 32px;

  &__container {
    color: #ffffff;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    padding: 60px;
    width: 900px;
    height: 900px;
    margin: 0 auto;
    vertical-align: middle;
  }

  &__initial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    &-title {
      font-size: 48px;
    }

    &-cta {
      position: relative;
      bottom: 20px;
    }
  }
}
