.interface {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__container {
    pointer-events: none;
    position: relative;
    height: 100%;
    width: 100%;

    & * {
      pointer-events: initial;
    }
  }

  &__modal-button {
    position: absolute;
    top: 60px;
    left: 60px;
  }
}
