.interface {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;

  &__container {
    position: relative;
    height: 100%;
    width: 100%;

    & * {
      pointer-events: initial;
    }
  }

  &__button {
    position: absolute;
    bottom: 60px;
    right: 60px;
  }
}
