.App {
  font-family: sans-serif;
  text-align: center;
  height: 5000px;
}

body {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 10px;
  background: #ffffff;
  transform-origin: 0%;
  z-index: 1;
}
